* {
    box-sizing: border-box;   
}

main {
    flex-grow: 1;
}

.brand-logo{
    margin-left: 50px;
}

.thumbnail {
    max-width: 70px;
}

.brand-logo {
    margin-right: 20px;
}

form {
    margin-top: 70px;
}

/* .modal {
    justify-content: center;
} */

title {
    text-transform: bold;
}
h5 {
    margin-top: 30px;
}

.modalimg {
    margin: auto;
}

.modal-content #channel {
    text-transform: bold;
}

