* {
    box-sizing: border-box;  
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo{
    margin-left: 50px;
}

.thumbnail {
    max-width: 70px;
    margin-block-end: auto;
}

.brand-logo {
    margin-right: 20px;
}

form {
    margin-top: 70px;
}

title {
    text-transform: bold;
    word-wrap: normal;
}
h5 {
    margin-top: 30px;
}

.modalimg {
    margin-left: 100px;
    height: 340px;
}

.pagefooter {
    padding: 90px;

}
#channel {
    text-decoration: underline;
}